@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;600&family=Raleway:ital,wght@0,100;0,400;0,600;0,800;1,100&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.link{
    margin-left: 700%;
}

header{
    background-color: rgb(156, 211, 193);
    padding: 10px;

}

ul{
    display: flex;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.img{
    height: 110px;

}
.lin{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.head{
    align-items: center;
    display: flex;
    max-width: 100%;
}
.Destaques{
    display: flex;
    align-items: center;
    justify-content: center;
}

.na{
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
}

.nada{
    display: flex;
    align-items: center;
}
.dd{
    align-items: center;
    display: flex;
}
.textContent{
    text-align: right;
    margin-left: 200px;
}
.txt{
    text-align: right;
    max-width: 400px;
}

.dd img{
    height: 200px;
    margin: 30px;
    padding: 30px;
    background-color: rgb(156, 211, 193);
    border-radius: 60px;
    cursor: pointer;
    display: block;
}

.dd{
    display: block;
    
}

.titleContente{
    text-align: center;
    margin-bottom: 10px;
}

.footer{
    padding: 20px;

}

.all-footer{
    background-color: rgb(156, 211, 193);
    width: 100%;

    position: fixed;
    bottom: 0px;
    left: 0px;
    display: block;
    margin-bottom: 0px;
}

.content{
    text-align: left;
    margin-top: 10px;
    padding: 30px;
    
}

.text-footer{
    text-align: end;
}